@model LibraryApp.Models.BooksModel

@{
    ViewData["Title"] = "Kitaplar";
    Layout = "_Layout";
}

<br />
<h1>Kitaplar</h1>
<br />
<h4>Kitap Detayları</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.KitapID)-->Kitap No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KitapID)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Baslik)-->Kitap İsmi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Yazar)-->Yazar
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.YayinYili)-->Yayın Yılı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayinYili)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Tur)-->Tür
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tur)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.ISBN)-->ISBN No.
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.RafNumarasi)-->Raf No.
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RafNumarasi)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Durum)-->Durum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
    </dl>
</div>
<hr />
<br />
<div class="btn-group-sm">
    <a asp-action="Edit" asp-route-id="@Model?.KitapID" class="btn btn-warning">Güncelle</a>
    <a asp-action="All" class="btn btn-primary">Geri Dön</a>
</div>